// Color
$color-background = rgb(244, 244, 244)
$color-background-d = rgba(244, 244, 244, 0.3)
$color-item-background = #fff
$color-highlight-background = rgb(233, 233, 233)
$color-dialog-background = #666
$color-theme = rgb(49, 194, 124)
$color-theme-d = rgba(49, 194, 124, 0.5)
$color-sub-theme = rgb(255, 255, 255)
$color-text = rgb(55, 55, 55)
$color-text-d = rgba(55, 55, 55, 0.3)
$color-text-l = rgba(55, 55, 55, 0.5)
$color-text-ll = rgba(55, 55, 55, 0.8)
$color-text-header = #fff

// Font
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
